<div class="mat-display-4">display 4</div>
<div class="mat-display-3">display 3</div>
<div class="mat-display-2">display 2</div>
<div class="mat-display-1">display 1</div>
<hr />
<!--use for head portion-->
<div class="mat-headline">Heading h1</div>
<div class="mat-title">Heading h2</div>
<div class="mat-subheading-2">Heading h3</div>
<div class="mat-subheading-1">Heading h4</div>
<hr />
<!--use for body portion-->
<div class="mat-body-1">Body text</div>
<div class="mat-body-2">Bold body text</div>
<div class="mat-caption">Caption</div>

<hr />
<!--use regular typography class-->
<div class="mat-typography">
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
</div>
